#panelone {
  padding: 5px;
  text-align: center;
  background-color: #FFFF88;
  display: none;
}


#flipone {
  padding: 5px;
  background-color: #FFE900E6;
  text-align: center;
}

#paneltwo {
  padding: 5px;
  text-align: center;
  background-color: #FFFF88;
  display: none;
}


#fliptwo {
  padding: 5px;
  background-color: #FFE900E6;
  text-align: center;
}

#panelthree {
  padding: 5px;
  text-align: center;
  background-color: #FFFF88;
  display: none;
}


#flipthree {
  padding: 5px;
  background-color: #FFE900E6;
  text-align: center;
}






#panelfour {
  padding: 5px;
  text-align: center;
  background-color: #FFFF88;
  display: none;
}


#flipfour {
  padding: 5px;
  background-color: #FFE900E6;
  text-align: center;
}

#panelfive {
  padding: 5px;
  text-align: center;
  background-color: #FFFF88;
  display: none;
}


#flipfive {
  padding: 5px;
  background-color: #FFE900E6;
  text-align: center;
}

#panelsix {
  padding: 5px;
  text-align: center;
  background-color: #FFFF88;
  display: none;
}


#flipsix {
  padding: 5px;
  background-color: #FFE900E6;
  text-align: center;
}
